recursive-include doc *.html
recursive-include QueryableList *.py
include tests/runTests.py
recursive-include tests/QueryableListTests *.py
include ChangeLog
include example.py
include README.md
include README.rst
include LICENSE
include MANIFEST.in
include setup.py
